.header {
  background-color: #ffc017;
  background-image: url("/header-bg.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right top;
}
@media screen and (max-width: 520px) {
  .header__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .header__title {
    margin-right: 40px;
  }
}
@media screen and (max-width: 640px) {
  .header__title {
    margin-right: 30px;
  }
}
@media screen and (max-width: 520px) {
  .header__list {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .header__local {
    display: none;
  }
}
.header__menu {
  display: none;
}
@media screen and (max-width: 520px) {
  .header__menu {
    display: block;
  }
}
.header__menuActive {
  background-color: #fff;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.5);
  padding: 30px;
  overflow-y: auto;
  color: #434343;
  transition: all 0.3s linear;
}

.local-img {
  width: 40px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero {
  overflow: hidden;
}
.hero__container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 768px) {
  .hero__img-wrapper {
    margin-right: -100px;
  }
}
@media screen and (max-width: 520px) {
  .hero__img-wrapper {
    margin-right: -120px;
  }
}
@media screen and (max-width: 520px) {
  .hero__text {
    font-size: 1.5rem;
  }
}
.hero__img {
  width: 426px;
  height: 638px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (max-width: 1024px) {
  .hero__img {
    width: 380px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .hero__img {
    width: 306px;
    height: 459px;
  }
}
@media screen and (max-width: 520px) {
  .hero__img {
    width: 306.083px;
    height: 458.765px;
    flex-shrink: 0;
  }
}
.hero__img-avatar {
  width: 694px;
  height: 661px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media screen and (max-width: 1024px) {
  .hero__img-avatar {
    width: 580px;
    height: 570px;
  }
}
@media screen and (max-width: 768px) {
  .hero__img-avatar {
    width: 498px;
    height: 475px;
  }
}
@media screen and (max-width: 520px) {
  .hero__img-avatar {
    width: 448.32px;
    height: 427.294px;
    flex-shrink: 0;
  }
}

.main {
  padding-bottom: 5.4rem;
}
@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 7rem;
  }
}
.main__container {
  display: grid;
  grid-template-columns: 70% 24%;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .main__container {
    grid-template-columns: repeat(1, 98%);
  }
}
.main__left {
  max-width: 1051px;
  width: 100%;
}
@media screen and (max-width: 720px) {
  .main__left {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .main__right {
    display: none;
  }
}
.main__form {
  display: none;
}
@media screen and (max-width: 720px) {
  .main__form {
    display: flex;
  }
}
@media screen and (max-width: 720px) {
  .main__right-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .main__right-bottomList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 48%);
  }
}
@media screen and (max-width: 520px) {
  .main__right-bottomList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 202px);
    align-items: center;
    justify-content: center;
  }
}
.main__top-list {
  justify-content: start;
  grid-gap: 15px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 32.5%);
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .main__top-list {
    grid-template-columns: repeat(2, 48%);
  }
}
@media screen and (max-width: 1024px) {
  .main__top-list li:nth-child(3) {
    margin-bottom: 7rem;
  }
}
.main__info-top {
  display: none;
}
@media screen and (max-width: 520px) {
  .main__info-top {
    display: block;
  }
}
.main__youtube {
  max-width: 613px;
  width: 100%;
  height: 325px;
  border-radius: 3rem;
}
@media screen and (max-width: 520px) {
  .main__youtube {
    max-width: 480px;
    width: 100%;
    height: 200px;
    border-radius: 1.7rem;
  }
}
.main__top-item {
  padding: 2.2rem 2rem;
  transition: all 0.3s ease;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
}
.main__top-item:hover {
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.05);
}
.main__top-span {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}
.main__respnsive {
  display: none;
}
@media screen and (max-width: 720px) {
  .main__respnsive {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .main__infoList-bottom {
    display: none;
  }
}

.yotube-img {
  width: 1051px;
  height: 473px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 30px;
}

.main-yotube-img {
  width: 613px;
  height: 352px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 30px;
}

.card__list {
  grid-gap: 15px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
}
.card__item {
  padding: 0.6rem;
  transition: all 0.3s ease;
  border-radius: 2.2rem;
  background: #fff;
  cursor: pointer;
  transition: all 0.3 ease;
}
.card__item:hover {
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.05);
}

.footer {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}
@media screen and (max-width: 720px) {
  .footer {
    padding-top: 9.2rem;
    padding-bottom: 9.2rem;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .footer__container {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .footer__form {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */